In [37]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [38]:
def time_to_mins(time_str):
    hours, mins = time_str.split(':')
    return int(hours) * 60 + int(mins)

In [39]:
df = pd.read_csv('Courier rounds.xlsx - Round_Schedules.csv')

In [40]:
df

,Index,Round ID,Vehicle ID,Time,Location,Postcode,Task
0,1,Rnd_01,Veh_01,7:30,Loc_101,SO30 2UT,Daily van check
1,2,Rnd_01,Veh_01,7:45,Loc_071,SO14 7NR,Deliver/Collect post
2,3,Rnd_01,Veh_01,7:50,Depot,SO14 5FE,Deliver/Collect post
3,4,Rnd_01,Veh_01,8:15,Loc_020,SO15 0AE,Deliver/Collect post
4,5,Rnd_01,Veh_01,8:20,Loc_028,SO15 0AE,Deliver/Collect post
...,...,...,...,...,...,...,...
95,96,Rnd_05,Veh_05,12:25,Loc_008,SO18 1NT,Collect dinners
96,97,Rnd_05,Veh_05,12:45,Loc_056,SO18 5NG,Deliver dinners
97,98,Rnd_05,Veh_05,13:05,Depot,SO14 5FE,Break/Charge van
98,99,Rnd_05,Veh_05,13:35,Spare time,NaN,Spare time
99,100,Rnd_05,Veh_05,16:30,Depot,SO14 5FE,Finish

In [42]:
df['Time'] = df['Time'].apply(time_to_mins)

In [43]:
X = df[['Index','Time']]
le = LabelEncoder() 
y = le.fit_transform(df['Task'])

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [45]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [48]:
X_test

    Index  Time
80     81   760
84     85   975
33     34   565
81     82   780
93     94   680
17     18   730
36     37   660
82     83   810
69     70   490
65     66   840
92     93   660
39     40   705
56     57   580
52     53   510
51     52   490
32     33   555
31     32   520
44     45   820
78     79   680
10     11   600

In [49]:
X_test

    Index  Time
80     81   760
84     85   975
33     34   565
81     82   780
93     94   680
17     18   730
36     37   660
82     83   810
69     70   490
65     66   840
92     93   660
39     40   705
56     57   580
52     53   510
51     52   490
32     33   555
31     32   520
44     45   820
78     79   680
10     11   600

In [50]:
y_train

array([11, 11,  0,  1,  4, 11, 13, 12,  0,  7,  5, 12, 11,  1,  0,  1, 12,
        7, 11,  0, 11, 11,  2, 13, 14,  1, 14, 11, 14, 14, 11, 11, 10, 11,
        1,  5, 11, 11, 11, 11, 11, 12, 11,  9, 11, 14, 11, 11,  6, 11,  0,
       11, 13,  7, 11,  7,  7, 11,  6,  7, 11,  6, 11,  9, 11, 11, 11, 11,
       11, 14, 11,  1,  0, 13, 11,  0,  0, 11,  3,  7])

In [51]:
y_test

array([ 1, 12, 11,  7,  7,  1,  3,  0, 11, 14,  1, 13, 11, 11, 11, 11, 11,
       11,  8, 11])

In [54]:
predictions = model.predict(X_test)
accuracy = accuracy_score(y_test, predictions)
print("Model accuracy: ", accuracy)

Model accuracy:  0.45

In [55]:
sample_data = X_test.iloc[0]
prediction = model.predict([sample_data])[0] 
print('Predicted task: {} '.format(target_map[prediction]))

Predicted task: Deliver/Collect post

E:\Annaconda\envs\gpu_module\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(