In [2]:
import pandas as pd  
from sklearn.neighbors import KNeighborsClassifier
import pickle

In [4]:
df=pd.read_csv('Path sample gen.xlsx - Vehicle Routes.csv')

In [5]:
df

     Index Route ID Target Time Time to Next Stop               Stop  Postcode
0        1    RTE01       17:15              0:15  SGH Pathology Lab  SO16 6YD
1        2    RTE01       17:30              0:20         Surgery 61  SO40 3JD
2        3    RTE01       17:50              0:10          Surgery 1  SO51 8XA
3        4    RTE01       18:00              0:10          Surgery 5  SO51 8JH
4        5    RTE01       18:10              0:15         Surgery 63  SO51 7LB
..     ...      ...         ...               ...                ...       ...
179    180    RTE10       12:40              0:20         Surgery 36  SO43 7FJ
180    181    RTE10       13:00              0:05         Surgery 27  SO45 4JG
181    182    RTE10       13:05              0:05         Surgery 72  SO45 5GQ
182    183    RTE10       13:10              0:30         Surgery 71  SO45 6AG
183    184    RTE10       13:40               NaN  SGH Pathology Lab  SO16 6YD

[184 rows x 6 columns]

In [6]:
# Encoding for model
df['route_id'] = df['Route ID'].factorize()[0]
df['stop_id'] = df['Stop'].factorize()[0]

In [7]:
df

,Index,Route ID,Target Time,Time to Next Stop,Stop,Postcode,route_id,stop_id
0,1,RTE01,17:15,0:15,SGH Pathology Lab,SO16 6YD,0,0
1,2,RTE01,17:30,0:20,Surgery 61,SO40 3JD,0,1
2,3,RTE01,17:50,0:10,Surgery 1,SO51 8XA,0,2
3,4,RTE01,18:00,0:10,Surgery 5,SO51 8JH,0,3
4,5,RTE01,18:10,0:15,Surgery 63,SO51 7LB,0,4
...,...,...,...,...,...,...,...,...
179,180,RTE10,12:40,0:20,Surgery 36,SO43 7FJ,9,78
180,181,RTE10,13:00,0:05,Surgery 27,SO45 4JG,9,14
181,182,RTE10,13:05,0:05,Surgery 72,SO45 5GQ,9,15
182,183,RTE10,13:10,0:30,Surgery 71,SO45 6AG,9,9
183,184,RTE10,13:40,NaN,SGH Pathology Lab,SO16 6YD,9,0

In [8]:
postcode_stopid_unique = df[['Postcode', 'stop_id']].drop_duplicates()
output_file_path = 'output_excel_file_with_postcodes_1.xlsx'
postcode_stopid_unique.to_excel(output_file_path, index=False,encoding='latin-1')
print(f"Exported 'postcode_stopid_unique' to {output_file_path}")

/Users/pujaagarwal/anaconda3/lib/python3.11/site-packages/pandas/util/_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

Exported 'postcode_stopid_unique' to output_excel_file_with_postcodes_1.xlsx

In [9]:
df['time'] = pd.to_datetime(df['Target Time']).dt.hour * 60 + pd.to_datetime(df['Target Time']).dt.minute

In [10]:
df

,Index,Route ID,Target Time,Time to Next Stop,Stop,Postcode,route_id,stop_id,time
0,1,RTE01,17:15,0:15,SGH Pathology Lab,SO16 6YD,0,0,1035
1,2,RTE01,17:30,0:20,Surgery 61,SO40 3JD,0,1,1050
2,3,RTE01,17:50,0:10,Surgery 1,SO51 8XA,0,2,1070
3,4,RTE01,18:00,0:10,Surgery 5,SO51 8JH,0,3,1080
4,5,RTE01,18:10,0:15,Surgery 63,SO51 7LB,0,4,1090
...,...,...,...,...,...,...,...,...,...
179,180,RTE10,12:40,0:20,Surgery 36,SO43 7FJ,9,78,760
180,181,RTE10,13:00,0:05,Surgery 27,SO45 4JG,9,14,780
181,182,RTE10,13:05,0:05,Surgery 72,SO45 5GQ,9,15,785
182,183,RTE10,13:10,0:30,Surgery 71,SO45 6AG,9,9,790
183,184,RTE10,13:40,NaN,SGH Pathology Lab,SO16 6YD,9,0,820

In [11]:
# Training data
X = df[['stop_id', 'time'] ]
y = df['route_id']

In [12]:
knn = KNeighborsClassifier()
knn.fit(X, y)

KNeighborsClassifier()

In [13]:
postcode_encoder = {
    "SO16 6YD": 0,
    "SO40 3JD": 1,
    "SO51 8XA": 2,
    "SO51 8JH": 3,
    "SO51 7LB": 4,
    "BH25 7PA": 5,
    "SO40 8UU": 6,
    "SO41 8DJ": 7,
    "SO16 4QX": 8,
    "SO45 6AG": 9,
    "SO41 9FE": 10,
    "SO41 9AZ": 11,
    "SO41 3AY": 12,
    "SO45 1RE": 13,
    "SO45 4JG": 14,
    "SO45 5GQ": 15,
    "SO40 4UP": 16,
    "SO53 2FW": 17,
    "SO53 2DH": 18,
    "SO53 4LL": 19,
    "BH25 6RJ": 20,
    "BH25 5AR": 21,
    "SO41 0NJ": 22,
    "SO41 6AG": 23,
    "SO42 7YS": 24,
    "SO15 5GN": 25,
    "SO16 5DR": 26,
    "SO17 1QF": 27,
    "SO17 1QF": 28,
    "SO17 1EZ": 29,
    "SO16 3BE": 30,
    "SO16 4EW": 31,
    "SO16 4BN": 32,
    "SO15 3HF": 33,
    "SO52 9EL": 34,
    "SO40 3DB": 35,
    "SO16 8LJ": 36,
    "SO50 9GE": 37,
    "SO50 4HL": 38,
    "SO14 6WP": 39,
    "SO17 2JG": 40,
    "SO14 1PT": 41,
    "SO31 4JT": 42,
    "SO31 8AB": 43,
    "SO30 4DE": 44,
    "SO32 2TH": 45,
    "SO32 2TH": 46,
    "SO32 1HF": 47,
    "SO30 3JL": 48,
    "SO16 2NN": 49,
    "SO50 9GE": 50,
    "SO18 6BX": 51,
    "SO19 4ED": 52,
    "SO19 9DJ": 53,
    "SO19 9GE": 54,
    "SO19 9PL": 55,
    "SO19 9AR": 56,
    "SO19 6DE": 57,
    "SO18 1HH": 58,
    "BH23 8NR": 59,
    "BH24 1XP": 60,
    "BH24 1NY": 61,
    "SP6 1LD": 62,
    "SO15 2GR": 63,
    "SO15 5HL": 64,
    "SO15 5SE": 65,
    "SO15 3HU": 66,
    "SO15 5RU": 67,
    "SO50 8LT": 68,
    "SO18 3HY": 69,
    "SO18 2AB": 70,
    "SO18 6PJ": 71,
    "SO18 5FL": 72,
    "SO14 0RD": 73,
    "SO21 1HG": 74,
    "SO23 8DS": 75,
    "SO22 6FP": 76,
    "SO43 7JP": 77,
    "SO43 7FJ": 78
}

In [14]:
# Get user input
# print("Enter pickups:")
user_input = [[16,823], [65,674]]
while True:
    line = input()
    if not line:
        break
    pickup = line.split()
    postcode = pickup[0]  # Extract the postcode
    stop_id = ''.join(filter(str.isdigit, pickup[1]))  # Extract only the numeric part
    if postcode in postcode_encoder:
        user_input.append([postcode_encoder[postcode], int(stop_id)])
    else:
        print(f"Postcode '{postcode}' not found in the encoding dictionary. Please check your input.")

# Make prediction
prediction = knn.predict([[16,823], [65,674]])

# Print output
print("Predicted route:", prediction)

Predicted route: [4 5]

/Users/pujaagarwal/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [15]:
prediction = knn.predict([[2,678], [6,345], [10,789]])

/Users/pujaagarwal/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [16]:
prediction[prediction.size-1]

9

In [17]:
with open('model.pkl', 'wb') as model_file:
    pickle.dump(knn, model_file)