In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Courier rounds.xlsx - Round_Schedules.csv')

In [3]:
df

,Index,Round ID,Vehicle ID,Time,Location,Postcode,Task
0,1,Rnd_01,Veh_01,7:30,Loc_101,SO30 2UT,Daily van check
1,2,Rnd_01,Veh_01,7:45,Loc_071,SO14 7NR,Deliver/Collect post
2,3,Rnd_01,Veh_01,7:50,Depot,SO14 5FE,Deliver/Collect post
3,4,Rnd_01,Veh_01,8:15,Loc_020,SO15 0AE,Deliver/Collect post
4,5,Rnd_01,Veh_01,8:20,Loc_028,SO15 0AE,Deliver/Collect post
...,...,...,...,...,...,...,...
95,96,Rnd_05,Veh_05,12:25,Loc_008,SO18 1NT,Collect dinners
96,97,Rnd_05,Veh_05,12:45,Loc_056,SO18 5NG,Deliver dinners
97,98,Rnd_05,Veh_05,13:05,Depot,SO14 5FE,Break/Charge van
98,99,Rnd_05,Veh_05,13:35,Spare time,NaN,Spare time
99,100,Rnd_05,Veh_05,16:30,Depot,SO14 5FE,Finish

In [4]:
tasks = df['Task'].unique()

In [5]:
print("Unique Tasks:")
for task in tasks:
    print(task)

Unique Tasks:
Daily van check
Deliver/Collect post
Break/Charge van
Collect dinners (x2)
Deliver dinners
Lunch
Collect dinners
Deliver dinners (x2)
Collect samples
Deliver samples
Spare time
Finish
Daily Van Check
Collect dinners
Deliver dinners

# Count tasks

In [6]:
task_counts = df['Task'].value_counts()
print("\nTask Counts:")
print(task_counts)

Task Counts:
Task
Deliver/Collect post    43
Break/Charge van         9
Deliver dinners          9
Collect dinners          9
Spare time               7
Lunch                    5
Finish                   5
Daily van check          3
Collect dinners (x2)     2
Deliver dinners (x2)     2
Daily Van Check          2
Collect samples          1
Deliver samples          1
Collect dinners          1
Deliver dinners          1
Name: count, dtype: int64

# Task frequency

In [8]:
total_tasks = len(df)
for task, count in task_counts.items():
    print(f"{task}: {round(count/total_tasks*100, 2)}% tasks")

Deliver/Collect post: 43.0% tasks
Break/Charge van: 9.0% tasks
Deliver dinners: 9.0% tasks
Collect dinners: 9.0% tasks
Spare time: 7.0% tasks
Lunch: 5.0% tasks
Finish: 5.0% tasks
Daily van check: 3.0% tasks
Collect dinners (x2): 2.0% tasks
Deliver dinners (x2): 2.0% tasks
Daily Van Check: 2.0% tasks
Collect samples: 1.0% tasks
Deliver samples: 1.0% tasks
Collect dinners : 1.0% tasks
Deliver dinners : 1.0% tasks

# Vehicle and task analysis

In [9]:
# Vehicle and task analysis
print("\nVehicle Tasks:")
for vehicle_id in df['Vehicle ID'].unique():
    temp_df = df[df['Vehicle ID'] == vehicle_id]
    print(f"\n{vehicle_id} tasks:") 
    print(temp_df['Task'].value_counts())

Vehicle Tasks:

Veh_01 tasks:
Task
Deliver/Collect post    15
Deliver dinners          2
Collect dinners          2
Daily van check          1
Break/Charge van         1
Collect dinners (x2)     1
Lunch                    1
Deliver dinners (x2)     1
Collect samples          1
Deliver samples          1
Spare time               1
Finish                   1
Name: count, dtype: int64

Veh_02 tasks:
Task
Deliver/Collect post    9
Break/Charge van        2
Deliver dinners         2
Collect dinners         2
Daily van check         1
Collect dinners (x2)    1
Lunch                   1
Deliver dinners (x2)    1
Spare time              1
Finish                  1
Name: count, dtype: int64

Veh_03 tasks:
Task
Deliver/Collect post    8
Break/Charge van        2
Collect dinners         2
Deliver dinners         2
Daily Van Check         1
Lunch                   1
Spare time              1
Finish                  1
Name: count, dtype: int64

Veh_04 tasks:
Task
Deliver/Collect post    7
Break/Charge van        2
Spare time              2
Daily Van Check         1
Collect dinners         1
Deliver dinners         1
Lunch                   1
Collect dinners         1
Deliver dinners         1
Finish                  1
Name: count, dtype: int64

Veh_05 tasks:
Task
Deliver/Collect post    4
Break/Charge van        2
Spare time              2
Collect dinners         2
Deliver dinners         2
Daily van check         1
Lunch                   1
Finish                  1
Name: count, dtype: int64

# Vehicle capacities

In [10]:
vehicle_details = {
   'Veh_01': {'max_samples': 50, 'patient_capacity': 2},
   'Veh_02': {'max_samples': 60, 'patient_capacity': 1}, 
   'Veh_03': {'max_samples': 80, 'patient_capacity': 3}
}

#  Sample input task details

In [11]:
# Sample input task details
task_type = 'Collect samples'  
num_samples = 65
patient_needed = False

# Find matching vehicles

In [12]:
matching_vehicles = [] 

for vehicle_id, details in vehicle_details.items():
    if num_samples <= details['max_samples']:
        if patient_needed == False or details['patient_capacity'] > 0:
            matching_vehicles.append(vehicle_id)

# Print vehicle prediction

In [13]:
print(f"For task: {task_type} with {num_samples} samples, suggested vehicles are: {matching_vehicles}")

For task: Collect samples with 65 samples, suggested vehicles are: ['Veh_03']